<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mary Boutique</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,700i|Open+Sans:400,700&display=swap"
    rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="css/estilos.css">
  
</head>

<body>
  
  <header>
    <ul class="nav justify-content-center ">
      <li class="nav-menu">
        <a class="subtitulo active" aria-current="" href="index.ejs">Inicio</a>
      </li>
      
  </header><!-- End Header -->

  <main class="container">
    <div class="row nosotros justify-content-center">
      <div class="col-12 text-center">
        <h2 class="subtitulo"><span>Contacto</span></h2>
        <iframe class="col-12 col-md-9"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1954.6609605735637!2d-72.90424095780968!3d11.52874907986537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8b632a1263d0f9%3A0x63d78b85c99b869a!2sCl.%2034B%20%237h-29%2C%20Riohacha%2C%20La%20Guajira%2C%20Colombia!5e0!3m2!1sen!2sar!4v1672157886165!5m2!1sen!2sar"
          width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>

        <section id="contacto" class="contacto">
          <div class="container">

            <div class="section-title">
              <h2>Para Mayor Informaci처n</h2>
              <p>Nos encontramos ubicados en la siguiente direcci처n.</p>
            </div>

            <div class="row nosotros justify-content-center">
                  <div class="info">
                  <div class="address"
                    <i class="bi bi-geo-alt"></i>
                    <h4>Ubicaci처n</h4>
                    <p>Calle 34b #7 h-34 <br> 2째piso - apto 2<br> <samp>Riohacha - La Guajira</samp></p>
                  </div>

                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Correo:</h4>
                    <p>ericapolo10@hotmail.com</p>
                  </div>

                  <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Celular:</h4>
                    <p>3104450429</p>
                  </div>
                </div>
        </section>
 
  </main>

        <section>
        <footer id="footer" class="footer">
          <div class="container">
            <div class="copyright">
              &copy; Copyright <strong><span>Mary Boutique</span></strong>Todos Los Derechos Reservados
            </div>
          </div>
        </footer>
        </section>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>
          
        
  <script src="js/main.js"></script>
</body>

</html>