<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mary Boutique</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,700i|Open+Sans:400,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
  <header>
    <ul class="nav justify-content-center ">
      <li class="nav-menu">
        <a class="subtitulo active" aria-current="home" href="#header">Inicio</a>
      </li>
      <li class="nav-menu">
        <a class="subtitulo" href="#nosotros">Nosotros</a>
      </li>
      <li class="nav-menu">
        <a class="subtitulo" href="#productos">Productos</a>
      </li>
      <li class="nav-menu">
        <a class="subtitulo" href="#contacto">Contacto</a>
      </li>

    </ul>

  </header><!-- End Header -->


  <div class="contenido-header">
    <div class="fondo" id="fondo">
      <h1 class="texto">Mary Boutique</h1>
    </div>
  </div>

  <br>

  <main class="container">
    <div class="row nosotros justify-content-center">
      <div class="col-12 text-center">
        <h2 id="nosotros" class="subtitulo"><span>¿Quienes somos?</span></h2>
        <h3 class="titulo">Nuestra Pasión por Crear y Diseñar Accesorios para Princesas.</h3>
        <p>
          Mary Boutique es una Tienda Online creada exclusivamente para la elaboración y diseño de accesorios para
          niñas
          de todas las edades y ocación.
        </p>
        <a href="#" class="enlace">
          <h1>Descubre Tu Próximo Diseño</h1>
        </a>
      </div>
    </div>

    <div class="row productos">
      <article class=" col-12 text-center col-white">
        <h2 id="productos" class="subtitulo"><span>Lo que ofrecemos</span></h2>
        <p class="titulo">Nuestros Productos</p>
        <p>Mary Boutique te ofrece Gorras, Lazos, Diademas, Cintillos, Colas, Ganchos, Tomateras, Sostenedor Lentes,
          Sostenedor Tapaboca..</p> <br>
        <h1>Creamos Diseños a tu Estilo y Color Favorito</h1>
      </article>
    </div>
  </main>

  <main class="container">
    <div class="row nosotros justify-content-center">
      <div class="card">
        <div class="face front">
          <img src="/img/Gorra blanca.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Blanca</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Agotada</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Gorra Lila.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Lila</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/gorra negra.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Negra</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Gorra lila con aguamarina.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Lila-Aguamarina</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/rosada suave.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Rosa</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Gorra fuscia con negro.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Fuscia con Negro</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Azul.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Azul</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Gorra Amarilla.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Amarilla</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/roja.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gorra Roja</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Agotada</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/ganchos pompones.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Ganchos</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/gancho plastico.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Ganchos</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/gancho con pompom.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Ganchos</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Gancho Aguamarina.jpg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gancho</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/gancho blanco.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gancho</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Ganchos Unicornio.jpg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Ganchos</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/gancho rositas.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Ganchos</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/colas y ganchos.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Ganchos/Colas</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/gancho dulce.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Gancho</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Diadema Muñeca.jpg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Diadema</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Diadema Pompom.jpg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Diadema</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Diadema Princesa.jpg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Diadema</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/diadema pom.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo kit Diadema + Ganchos</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/diadema pompom 1.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Diadema Pompom Fuscia</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/diadema paleta.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Diadema Paletas</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/diadema pompom 3.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Diadema Pompom Aguamarina</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Cintillo .jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Cintillos</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/cintillo blanco.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Cintillos x paquete o unidad.</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="face front">
          <img src="/img/cintillossss.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Cintillos x paquete o unidad.</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/cinti.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Cintillo Negro.</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/cintillos3.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Cintillos x paquete o unidad.</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face front">
          <img src="/img/tomatera blanca.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Tomatera Blanca.</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Tomatera Lila.jpg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Tomatera Lila.</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="face front">
          <img src="/img/Tomatera Multicolor.jpeg" alt="">
        </div>
        <div class="face back">
          <h3>Estilo Tomatera Multicolor.</h3>
          <p>En Mary Boutique Diseñamos a tu gusto.</p>
          <div class="link">
            <a href="#">Disponible</a>
          </div>
        </div>
      </div>
  </main>



  <div class="separador text-center ">

    <p></p>

  </div>

  <div class="container">
    <div class="row acerca-de justify-content-around">
      <article class="col-10 col-sm-5">
        <figure class="text-center">
          <img src="/img/Captura1-removebg-preview.png" alt="">

          <figcaption>
            <p>
              <strong class="mb-2">Un Equipo de Expertos</strong>
              <div class="w-100"></div>
              Mary Boutique Elabora sus accesorios con ideas únicas y exclusivas dandóle un toque especial a cada
              diseño, pensando siempre en el amor y ternura de cada princesa.
            </p>
          </figcaption>
        </figure>
      </article>

      <article class="col-10 col-sm-5">
        <figure class="text-center">
          <img src="/img/mujer_3-removebg-preview.png" alt="">
          <figcaption>
            <p>
              <strong class="mb-2">Una Historia de Servicio</strong>
              <div class="w-100"></div>
              Mary Boutique Accesorios es Erika Polo, una mujer profesional, que estudia
              Administración de Empresas y es Desarrolladora Full Stack. Es
              madre de tres hijos, casada, nacida en la ciudad de Barranquilla.
              En su tiempo libre se dedica a fabricar accesorios. Este hobby nació desde el
              momento en que tuvo su última hija; ella la inspiro en la creación de diseños exclusivos ya que no
              encontraba un accesorio que llenara sus expectativas.
              Es por esta razón que toma la decisión de aprender a elaborar accesorios para venderlos a sus conocidos,
              familiares y amigos.
            </p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>

  <main class="container">
    <div class="row nosotros justify-content-center">
      <div class="col-12 text-center">
        <h2 class="subtitulo"><span>Todos los Productos</span></h2>


        <div class="container-fluid px-0 galeria">
          <div class="row justify-content-center mx-0 px-0">
            <div class="col-4 px-0 mx-0">
              <img src="/img/port.jpeg" alt="">
            </div>
            <div class="col-4 px-0 mx-0">
              <img src="/img/tapaboca.jpeg" alt="">
            </div>
            <div class="col-4 px-0 mx-0">
              <img src="/img/portalentes.jpeg" alt="">
            </div>
          </div>
        </div>
  </main>

  <main class="container">
    <div class="row nosotros justify-content-center">
      <div class="col-12 text-center">
        <h2 id="contacto" class="subtitulo"><span>Contacto</span></h2>
        <iframe class="col-12 col-md-9"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1954.6609605735637!2d-72.90424095780968!3d11.52874907986537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8b632a1263d0f9%3A0x63d78b85c99b869a!2sCl.%2034B%20%237h-29%2C%20Riohacha%2C%20La%20Guajira%2C%20Colombia!5e0!3m2!1sen!2sar!4v1672157886165!5m2!1sen!2sar"
          width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>

        <section id="contacto" class="contacto">
          <div class="container">

            <div class="section-title">
              <h2>Para Mayor Información</h2>
              <p>Nos encontramos ubicados en la siguiente dirección.</p>
            </div>

            <div class="row nosotros justify-content-center">
                  <div class="info">
                  <div class="address"
                    <i class="bi bi-geo-alt"></i>
                    <h4>Ubicación</h4>
                    <p>Calle 34b #7 h-34 <br> 2°piso - apto 2<br> <samp>Riohacha - La Guajira</samp></p>
                  </div>

                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Correo:</h4>
                    <p>ericapolo10@hotmail.com</p>
                  </div>

                  <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Celular:</h4>
                    <p>3104450429</p>
                  </div>
                </div>
        </section>
 
  </main>

        <section>
        <footer id="footer" class="footer">
          <div class="container">
            <div class="copyright">
              &copy; Copyright <strong><span>Mary Boutique</span></strong>Todos Los Derechos Reservados
            </div>
          </div>
        </footer>
        </section>

  <script src="js/main.js"></script>
</body>

</html>