<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mary Boutique</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,700i|Open+Sans:400,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
  <div class="contenido-header">
    <div class="fondo" id="fondo">
      <h1 class="texto"></h1>
    </div>
  </div>

  <nav class="menu">
    <a href="#">Nosotros</a>
    <a href="#">Servicios</a>
    <a href="#">Contacto</a>
  </nav>

  <main class="container">
    <div class="row nosotros justify-content-center">
      <div class="col-12 text-center">
        <h2 class="subtitulo"><span>¿Quienes somos?</span></h2>
        <h3 class="titulo">Nuestra Pasión por Crear y Diseñar Accesorios para Princesas.</h3>
        <p>
          Mary Boutique es una Tienda Online creada exclusivamente para la elaboración y diseño de accesorios para niñas
          de todas las edades.
        </p>
        <a href="#" class="enlace">Descubre tu próximo diseño</a>
      </div>
    </div>

    <div class="row productos">
      <article class=" col-12 text-center col-white">
        <h2 class="subtitulo"><span>Lo que ofrecemos</span></h2>
        <p class="titulo">Nuestros Productos</p>
        <p>Mary Boutique te ofrece Gorras, Lazos, Diademas, Cintillos, Colas, Ganchos, Tomateras. Además creamos diseños
          a tu estilo y color favorito.</p>
      </article>
    </div>

  </main>

  <div class="card">
    <div class="face front">
      <img src="/img/Gorra blanca.jpeg" alt="">
      <h3>Gorra Blanca</h3>
    </div>
    <div class="face back">
      <h3>Gorra Blanca</h3>
      <p>Lorem ipsum dolor sit amet ellendus lestias molestiae.</p>
      <div class="link">
        <a href="#">Details</a>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="face front">
      <img src="/img/Gorra Lila.jpeg" alt="">
      <h3>Gorra Lila</h3>
    </div>
    <div class="face back">
      <h3>Gorra Lila</h3>
      <p>Lorem ipsum dolor sit amet cu molestias molestiae.</p>
      <div class="link">
        <a href="#">Details</a>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="face front">
      <img src="/img/gorra negra.jpeg" alt="">
      <h3>Gorra Negra</h3>
    </div>
    <div class="face back">
      <h3>Gorra Negra</h3>
      <p>Lorem ipsum dolor sit amet m repellendus molestias molestiae.</p>
      <div class="link">
        <a href="#">Details</a>

      </div>
    </div>
  </div>

  <div class="btn-buttom">
    <button>Todos los productos</button>
  </div>









  <div class="separador text-center ">

    <p></p>

  </div>

  <div class="container">
    <div class="row acerca-de justify-content-around">
      <article class="col-10 col-sm-5">
        <figure class="text-center">
          <img src="/img/Captura1.PNG" alt="">

          <figcaption>
            <p>
              <strong class="mb-2">Un equipo de expertos</strong>
              <div class="w-100"></div>
              Mary Boutique Elabora sus accesorios con ideas únicas y exclusivas dandóle un toque especial a cada
              diseño, pensando siempre en el amor y ternura de cada princesa.
            </p>
          </figcaption>
        </figure>
      </article>

      <article class="col-10 col-sm-5">
        <figure class="text-center">
          <img src="/img/mujer 3.PNG" alt="">
          <figcaption>
            <p>
              <strong class="mb-2">Una historia de servicio</strong>
              <div class="w-100"></div>
              Mary Boutique Accesorios es Erika Polo, una mujer profesional, que estudia
              Administración de Empresas y es Desarrolladora Full Stack. Es
              madre de tres hijos, casada, nacida en la ciudad de Barranquilla.
              En su tiempo libre se dedica a fabricar accesorios. Este hobby nació desde el
              momento en que tuvo su última hija; ella la inspiro en la creación de diseños exclusivos ya que no
              encontraba un accesorio que llenara sus expectativas.
              Es por esta razón que toma la decisión de aprender a elaborar accesorios para venderlos a sus conocidos,
              familiares y amigos.
            </p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>

  <div class="container-fluid px-0 galeria">
    <div class="row justify-content-center mx-0 px-0">
      <div class="col-4 px-0 mx-0">
        <img src="/img/Lazo Princesa.jpg" alt="">
      </div>
      <div class="col-4 px-0 mx-0">
        <img src="/img/Cintillo .jpeg" alt="">
      </div>
      <div class="col-4 px-0 mx-0">
        <img src="/img/Diadema Pompom.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <section class="contacto row justify-content-center">
      <div class="col-12 col-md-9 text-center">
        <h2 class="subtitulo"><span>Contactanos</span></h2>
      </div>

      <iframe class="col-12 col-md-9"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1954.6609605735637!2d-72.90424095780968!3d11.52874907986537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8b632a1263d0f9%3A0x63d78b85c99b869a!2sCl.%2034B%20%237h-29%2C%20Riohacha%2C%20La%20Guajira%2C%20Colombia!5e0!3m2!1sen!2sar!4v1672157886165!5m2!1sen!2sar"
        width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

      <div class="w-100 mb-4"></div>
      <div>
        <p class="bottom ">

          <img src="/img/Celu.PNG" alt="">Tel: 3104450429
        </p>
      </div>
      <div>
        <p class="bottom ">

          <img src="/img/dire.PNG" alt=""> Calle 34b # 7h-34 piso 2 apto 2
        </p>
      </div>
    </section>

    <footer class="row justify-content-center redes-sociales">
      <div class="col-auto">
        <a href="#"><img src="/img/face.jpg" alt=""></a>
        <a href="#"><img src="/img/images.jpg" alt=""></a>
        <a href="#"><img src="/img/twitter.png" alt=""></a>
      </div>
    </footer>
  </div>


  <script src="js/main.js"></script>
</body>

</html>