<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mary Boutique</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,700i|Open+Sans:400,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
  <div class="header">
    <div class="fondo" id="fondo">
      <h1 class="texto"></h1>
    </div>
  </div>

  <header>

    <div class="container__menu">
      <div class="logo">
        <img src="" alt="">
      </div>

      <div class="menu ">
        <i class="fas fa-bars" id="btn_menu"></i>
        <div id="back_menu "></div>
        <nav id="nav">
          <img src="/img/accesorios eri.PNG" alt="">
          <ul>
            <li><a href="#" id="selected">Servicios</a></li>
            <li><a href="#" id="selected">Nosotros</a></li>
            <li><a href="#" id="selected">Contactos</a></li>
            
          </ul>
        </nav>
      </div>
    </div>

  </header>

  <main>
    <div class="container__cover">
      <div class="cover">
        <div class="text ">
          <h1>Mary Boutique es una Tienda Online creada exclusivamente para la elaboración y diseño de accesorios.</h1>



          <input type="button" value="Leer Más">
        </div>

        <div class="svg">
          <img src="/img/Mary (2).gif" alt="">
        </div>
      </div>
    </div>
  </main>

 <br>

 <div class="">

    <p></p>

  </div>

  <div class="container">
    <div class="row acerca-de justify-content-around">
      <article class="col-10 col-sm-5">
        <figure class="text-center">
          <img src="/img/quienes_somos-removebg-preview.png" alt="">

          <figcaption>
            <p>
              <strong class="mb-2">¿Quienes somos?</strong>
              <div class="w-100"></div>
              Nuestra Pasión por Crear y Diseñar Accesorios para Princesas de todas las edades.
            </p>
          </figcaption>
        </figure>
      </article>

      <article class="col-10 col-sm-5">
        <figure class="text-center">
          <img src="/img/accesorios_1-removebg-preview.png" alt="">
          <figcaption>
            <p>
              <strong class="mb-2">Lo que ofrecemos</strong>
              <div class="w-100"></div>
              Mary Boutique te ofrece Gorras, Lazos, Diademas, Cintillos, Colas, Ganchos, Tomateras, Sostenedor Lentes,
        Sostenedor Tapaboca..
            </p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>

  
    <div class="text-center">
      <h1>Creamos Diseños a tu Estilo Propio y Color Favorito</h1>
      <p class="titulo text-center">Nuestros Productos</p>
    </div>

  <main class="row productos "> 
    

    <div class="card ">
      <div class="face front">
        <img src="/img/Gorra blanca.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Blanca</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Agotada</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Gorra Lila.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Lila</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/gorra negra.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Negra</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Gorra lila con aguamarina.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Lila-Aguamarina</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/rosada suave.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Rosa</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Gorra fuscia con negro.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Fuscia con Negro</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Azul.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Azul</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Gorra Amarilla.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Amarilla</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/roja.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gorra Roja</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Agotada</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/ganchos pompones.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Ganchos</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/gancho plastico.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Ganchos</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/gancho con pompom.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Ganchos</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Gancho Aguamarina.jpg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gancho</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/gancho blanco.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gancho</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Ganchos Unicornio.jpg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Ganchos</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/gancho rositas.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Ganchos</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/colas y ganchos.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Ganchos/Colas</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/gancho dulce.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Gancho</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Diadema Muñeca.jpg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Diadema</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Diadema Pompom.jpg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Diadema</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Diadema Princesa.jpg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Diadema</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/diadema pom.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo kit Diadema + Ganchos</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/diadema pompom 1.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Diadema Pompom Fuscia</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/diadema paleta.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Diadema Paletas</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/diadema pompom 3.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Diadema Pompom Aguamarina</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Cintillo .jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Cintillos</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/cintillo blanco.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Cintillos x paquete o unidad.</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/cintillossss.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Cintillos x paquete o unidad.</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/cinti.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Cintillo Negro.</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/cintillos3.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Cintillos x paquete o unidad.</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="face front">
        <img src="/img/tomatera blanca.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Tomatera Blanca.</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Tomatera Lila.jpg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Tomatera Lila.</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="face front">
        <img src="/img/Tomatera Multicolor.jpeg" alt="">
      </div>
      <div class="face back">
        <h3>Estilo Tomatera Multicolor.</h3>
        <p>En Mary Boutique Diseñamos a tu gusto.</p>
        <div class="link">
          <a href="#">Disponible</a>
        </div>
      </div>
    </div>
  
</main>


  <div class="separador text-center ">

    <p></p>

  </div>

  <div class="container">
    <div class="row acerca-de justify-content-around">
      <article class="col-10 col-sm-5">
        <figure class="text-center">
          <img src="/img/Captura1-removebg-preview.png" alt="">

          <figcaption>
            <p>
              <strong class="mb-2">Un Equipo de Expertos</strong>
              <div class="w-100"></div>
              Mary Boutique Elabora sus accesorios con ideas únicas y exclusivas dandóle un toque especial a cada
              diseño, pensando siempre en el amor y ternura de cada princesa.
            </p>
          </figcaption>
        </figure>
      </article>

      <article class="col-10 col-sm-5">
        <figure class="text-center">
          <img src="/img/mujer_3-removebg-preview.png" alt="">
          <figcaption>
            <p>
              <strong class="mb-2">Una Historia de Servicio</strong>
              <div class="w-100"></div>
              Mary Boutique Accesorios es Erika Polo, una mujer profesional, que estudia
              Administración de Empresas y es Desarrolladora Full Stack. Es
              madre de tres hijos, casada, nacida en la ciudad de Barranquilla.
              En su tiempo libre se dedica a fabricar accesorios. Este hobby nació desde el
              momento en que tuvo su última hija; ella la inspiro en la creación de diseños exclusivos ya que no
              encontraba un accesorio que llenara sus expectativas.
              Es por esta razón que toma la decisión de aprender a elaborar accesorios para venderlos a sus conocidos,
              familiares y amigos.
            </p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>

  <main class="container">
    <div class="row nosotros justify-content-center">
      <div class="col-12 text-center">
        <h2 class="subtitulo"><span>Todos los Productos</span></h2>

        <div class="container-fluid px-0 galeria">
          <div class="row justify-content-center mx-0 px-0">

            <div class="col-4 px-0 ">
              <img src="/img/port.jpeg" alt="">
            </div>
            <div class="col-4 px-0 mx-0">
              <img src="/img/tapaboca.jpeg" alt="">
            </div>
            <div class="col-4 px-0 mx-0">
              <img src="/img/portalentes.jpeg" alt="">
            </div>
          </div>
        </div>

        <h2 class="subtitulo"><span>Contactanos</span></h2>
      </div>


      <iframe class="col-12 text-center"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1954.6609605735637!2d-72.90424095780968!3d11.52874907986537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8b632a1263d0f9%3A0x63d78b85c99b869a!2sCl.%2034B%20%237h-29%2C%20Riohacha%2C%20La%20Guajira%2C%20Colombia!5e0!3m2!1sen!2sar!4v1672157886165!5m2!1sen!2sar"
        width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="">
      </iframe>


      <footer class="row justify-content-center redes-sociales ">
        <div class="col-12 text-center">
          <a href="#"><img src="/img/telefono-inteligente.png" alt="">3104450429</a>
          <a href="#"><img src="/img/direccion-de-casa.png" alt="">Calle 34b # 7h-34 piso 2 apto 2</a>
        </div>
      </footer>
  </main>

  <script src="/js/main.js"></script>
</body>

</html>