*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
:root {
	--purple-dark: #170312;
	--purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

body {
	
	/*background: linear-gradient(to right, #fab2b2, #f54d4d);*/
	background: white;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
	align-items: center;
	color: #33032d;

}
p {
	font-size: 22px;
}

header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
    padding: 40px;
	
}

.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 60px;

}

.menu{
    display: flex;
    align-items: center;
	color: aqua;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #33032d;
    text-transform: uppercase;
}

#selected{
    background: #fab2b2;
    padding: 10px 40px;
    border-radius: 50px;
	text-align: center;
	
	
}

.menu nav img{
    display: none;
}

.menu #btn_menu{
    display: none;
	
}


/*COVER*/


.container__cover{
    width: 100%;
    height: 800px;
	background-image: url();
	background-position: right;
	background-repeat: no-repeat;
    padding: 40px;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width:400px;
}

.container__cover .text h1{
    font-size: 25px;
    font-weight: 500;
	
	
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
	
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #33032d;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #f54d4d;
	
}


.container__cover .svg img{
    width: 500px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}


.menu .container{
	color: aqua;
}

.menu a {
	display: inline-block;
	padding: 10px 30px;
	font-size: 26px;
	background-color: var(--purple-medium);
	margin: 0 10px;
	transition: .5s ease all;
	color: var(--gray-light);
	text-decoration: none;
}

.menu a:hover {
	transform: translateY(18px);
	background-color: var(--purple-light);
}

/* ------------------------- */
/* Nosotros */
/* ------------------------- */
.nosotros {
	margin-bottom: 60px;
	color:#F6615D;
}

.subtitulo {
	font-size: 20px;
	color: var(--purple-dark);
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	z-index: 2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo span {
	
	padding: 0 15px;
	z-index: 99;
	position: relative;
	color: #33032d;
}

.subtitulo::after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	color: #f3f3f3;
	position: relative;
	top: -29px;
	z-index: 1;
}

.nosotros .titulo {
	width: 70%;
	font-size: 44px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
	
}

.nosotros .enlace {
	display: inline-block;
	margin-top: 40px;
	color: #fab2b2;
	font-weight: 700;
	border-bottom: 1px solid transparent;
	transition: .3s ease all;
}

.nosotros .enlace:hover {
	text-decoration: none;
	letter-spacing: 3px;
	border-bottom: 1px solid var(--purple-light);
}

/* ------------------------- */
/* productos */
/* ------------------------- */
.productos {
	padding: 20px;
	margin-bottom: 60px;
	color: white;
}


.card{
	position: relative;
	width: 300px;
	height: 350px;
	margin: 20px;
}

.card .face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}
.card .front {
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px #fab2b2;
}

.card .front img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .front h3 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #fab2b2;
	text-align: center;
}

.card .back {
	transform: perspective(600px) rotateY(180deg);
	background: #fab2b2;
	padding: 15px;
	color: #f3f3f3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 5px 10px #fab2b2;
}

.card .back .link {
	border-top: solid 1px #f3f3f3;
	height: 50px;
	line-height: 50px;
}
.card .back .link a {
	color: #f3f3f3;
	
}

.card .back h3 {
	font-size: 30px;
	margin-top: 20px;
	letter-spacing: 2px;
}

.card .back p {
	letter-spacing: 1px;
}

.card:hover .front {
	transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
	transform: perspective(600px) rotateY(360deg);
}

.card:hover .front {
	transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
	transform: perspective(600px) rotateY(360deg);
}


/* ------------------------- */
/* Separador */
/* ------------------------- */
.separador {
	width: 100%;
	height: 250px;
	background-image: url('/img/accesorios\ eri.PNG');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 60px;
	
}

.separador p {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	font-family: 'Noto Serif', serif;
	padding: 10px;
	
}

.separador .text-center{
	width: 100%;
	height: 250px;
	
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 60px;
	
}

.separador .text-center p {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	font-family: 'Noto Serif', serif;
	padding: 10px;
	
}
/* ------------------------- */
/* Acerca de */
/* ------------------------- */
.acerca-de {
	margin-bottom: 60px;
	color: #f3f3f3;
}

/* ------------------------- */
/* Galeria */
/* ------------------------- */
.galeria {
	margin-bottom: 60px;
	
}

.galeria img {
	height: 80%;
	width: 80%;
	object-fit: cover;
	
}

.contacto {
	margin-bottom: 60px;
	color: #fab2b2;
}

.redes-sociales {
	padding: 10px;
	
	height: 97%;
	width: 97%;
	
	
}

.redes-sociales img {
	padding: 5px;
	border-radius: 100%;
	width: 50px;
	transition: .3s ease all;
}

.redes-sociales img:hover {
	transform: scale(1.2);
}
.redes-sociales a {
	color: #f3f3f3;
}




/*Haciendo la página Responsive*/

@media screen and (max-width: 1700px){

    .container__cover{
        background-position: 50%;
    }

}

@media screen and (max-width: 1200px){

    header{
        padding: 40px;
    }

    .container__cover{
        background-position: -100px;
    }

    .container__cover .svg img{
        width: 0px;
    }

}

@media screen and (max-width: 1500px){

    .container__cover{
		background-image: url("/img/Mary\ \(2\).gif");
		background-size: contain;
    }

    .container__cover .svg img{
        display: none;
		background-color: #FD8986;
    }

    .container__cover .text{
        max-width: 600px;
    }

}

@media screen and (max-width: 420px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #F6615D;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }
}
