* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--purple-dark: #170312;
	--purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: rgb(18, 167, 172);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #32cf93;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/* ------------------------- */
/* Header */
/* ------------------------- */
 .contenido-header {
	width: 100%;
	height: 82vh;
	
	background-image: url(/img/Mary\ \(2\).gif);
	background-position: center;
	
	
}

.contenido-header .fondo {
	width: 0%;
	height: 100%;
	max-width: 100%;
	
}

.contenido-header .texto {
	width: calc(100vw - 20px);
	height: 100vh;
	font-size: 90px;
	font-weight: 400;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	color: purple;
	mix-blend-mode: multiply;
} 

  
/* ------------------------- */
/* NAVBAR */
/* ------------------------- */
.nav-menu {
	padding: 30px 0 0 0;
  }
  
  .nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  .nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
	display: flex;
	
	color: #a8a9b4;
	padding: 12px 15px;
	margin-bottom: 8px;
	transition: 0.3s;
	font-size: 15px;
  }
  
  .nav a i,
  .nav a:focus i {
	font-size: 24px;
	padding-right: 38px;
	color: #6f7180;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
	text-decoration: none;
	color: #fff;
  }
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
	color: #149ddd;
  }



/* ------------------------- */
/* Nosotros */
/* ------------------------- */
.nosotros {
	margin-bottom: 40px;
	color:#f3f3f3;
}

.subtitulo {
	font-size: 20px;
	color: var(--purple-dark);
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	z-index: 2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo span {
	background-color: var(--white);
	padding: 0 15px;
	z-index: 99;
	position: relative;
}

.subtitulo::after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background: var(--white);
	position: relative;
	top: -29px;
	z-index: 1;
}

.nosotros .titulo {
	width: 70%;
	font-size: 44px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
	
}

.nosotros .enlace {
	display: inline-block;
	margin-top: 40px;
	color: var(--purple-light);
	font-weight: 700;
	border-bottom: 1px solid transparent;
	transition: .3s ease all;
}

.nosotros .enlace:hover {
	text-decoration: none;
	letter-spacing: 3px;
	border-bottom: 1px solid var(--purple-light);
}

/* ------------------------- */
/* productos */
/* ------------------------- */
.productos {
	padding: 20px;
	margin-bottom: 60px;
	color: white;
}

.card{
	position: relative;
	width: 300px;
	height: 350px;
	margin: 20px;
}

.card .face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;
}
.card .front {
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px #33032d;
}

.card .front img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .front h3 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #33032d;
	text-align: center;
}

.card .back {
	transform: perspective(600px) rotateY(180deg);
	background: #33032d;
	padding: 15px;
	color: #f3f3f3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 5px 10px #33032d;
}

.card .back .link {
	border-top: solid 1px #f3f3f3;
	height: 50px;
	line-height: 50px;
}
.card .back .link a {
	color: #f3f3f3;
	
}

.card .back h3 {
	font-size: 30px;
	margin-top: 20px;
	letter-spacing: 2px;
}

.card .back p {
	letter-spacing: 1px;
}

.card:hover .front {
	transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
	transform: perspective(600px) rotateY(360deg);
}

.card:hover .front {
	transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
	transform: perspective(600px) rotateY(360deg);
}

/* ------------------------- */
/* Separador */
/* ------------------------- */
.separador {
	width: 150%;
	height: 300px;
	background-image: url('/img/accesorios\ eri.PNG');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1200px;
	background-attachment: fixed;
	margin-bottom: 60px;
	
}

.separador p {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	font-family: 'Noto Serif', serif;
	padding: 10px;
	
}

/* ------------------------- */
/* Acerca de */
/* ------------------------- */
.acerca-de {
	margin-bottom: 60px;
	color: #f3f3f3;
}

/* ------------------------- */
/* Galeria */
/* ------------------------- */
.galeria {
	margin-bottom: 5px;
}

.galeria img {
	height: 80%;
	width: 80%;
	object-fit: cover;
	padding-left: 3px;
}

/* ------------------------- */
/* Contacto */
/* ------------------------- */
.container iframe{
	padding: 20px;
	width: 100%;
	box-shadow: 0 0 24px 0 #33032d;
	background-color: #f3f3f3;
}
.contacto {
	margin-bottom: 60px;
	color: #f3f3f3;
	width: 100%;
	
	
}

.contacto .info {
	padding: 20px;
	width: 100%;
	box-shadow: 0 0 24px 0 #33032d;
	
	
  }
  
  .contacto .info h4 {
	padding: 0px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #33032d;
	width: 100%;
  }
   
  @-webkit-keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  

.footer {
	margin-top: 30px;
	padding: 30px 0;
	font-size: 14px;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .footer .copyright {
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
  }


/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 592px) {
	p {
		font-size: 18px;
	}

	.contenido-header .texto {
		font-size: 35px;
	}

	.nav a{
		font-size: 20px;
		text-align: center;
	}

	.nosotros .titulo,
	.productos .titulo {
		font-size: 30px;
	}
}